.divMainBodySearchPage {
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
}

.divMainBodySearchPage::-webkit-scrollbar-thumb{
    background-color: #ff6a00;
    width: 0.2rem
}

.divMainBodySearchPage .divMainBodyUsers{
    width: 50%;
    position: relative;
}

.divMainBodySearchPage .divMainBodyTimes{
    width: 50%;
    position: relative;
}

.divMainBodySearchPageUsersMap {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    transition: 0.2s;

}

.divMainBodyUserSearch {
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: 1.5rem;
    left: 16rem
}

.divMainBodyTeamSearch{
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: 1.5rem;
    left: 16rem
}

.divSearchFilteredContentUser {
    width: 33%;
    height: 180px;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #313131;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #000;
    transition: 0.2s;

}

.divSearchFilteredContentTime{
    width: 33%;
    height: 180px;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #313131;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background-size: contain;
    background-position: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #000;
    transition: 0.2s;
}

.divSearchFilteredContentTime img{
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 0;
    border-radius: 120px;
    border: 1px solid #857762;
}


.divSearchFilteredContentTime .divSearchFilteredNameTime {
    position: absolute;
    top: 10rem;
    font-size: 18px;
    background-color: #111111;
    padding: 3%;
}


.divSearchFilteredTag {
    position: absolute;
    top: 12.5rem;
    font-size: 13px;
    color: #cacaca;
    background-color: #111111;
    padding: 3%;
}



.divSearchFilteredContentUser img:nth-child(1) {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 0;
    
}

.divSearchFilteredContentUser img:nth-child(2) {
    width: 70px;
    height: 70px;
    border-radius: 120px;
    position: absolute;
    top: 2.6rem;
    z-index: 1;
    left: 5.5rem;
}

.divSearchFilteredContentUser .divSearchFilteredNameUser {
    position: absolute;
    top: 10rem;
    font-size: 18px;
}

.divSearchFilteredTitulo {
    position: absolute;
    top: 12rem;
    font-size: 11px;
    color: #cacaca
}

.divSearchFilteredBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.pageSearch{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding-bottom: 5%;
    margin-left: 3rem;
}

.pageSearch .paginacao{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}