.divProfileBody {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

.videoPosterPerfil {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
    object-fit: cover;
}

.imgPosterPerfil {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
    object-fit: cover;
}

.divModalFundoBody {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 20;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
}


.perfilNavbar {
    display: flex;
    padding-top: 1%;
    gap: 0px;
    font-size: 16px;
    color: #b4905b;
    margin-top: 2px;
    margin-left: 1px;
    position: absolute;
    right: 0%;
    height: 66px;
    width: 75%;
    z-index: 30;
    background: #151515;
    background: -moz-linear-gradient(top, #151515 0%, #000000af 50%, #ffffff00 100%);
    background: -webkit-linear-gradient(top, #151515 0%, #000000af 50%, #ffffff00 100%);
    background: linear-gradient(to bottom, #151515 0%, #000000af 50%, #ffffff00 100%);
    border-radius: 0px 0px 5px 5px;
}

.perfilNavbar label {
    cursor: pointer;
    margin-left: 4%;
    font-weight: 200;
    transition: 0.2s;

}

.perfilNavbar label:hover {
    cursor: pointer;
    margin-left: 4%;
    font-weight: bold;
    transition: 0.2s;
}

.perfilDivSection {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.userProfileBanner {
    background-color: #151515;
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.userProfileBanner div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
}

.userProfileBanner video {
    width: 45%;
    border-radius: 150px;
}

.userProfileBanner label {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 10%;
}

.userProfileBanner input {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    background: none;
    color: white;
    margin-top: 60%;
    border: none;
}

.userProfileBanner input::placeholder {
    color: rgb(255, 111, 111);
    opacity: 1;
    /* Firefox */
}

.userProfileBanner p {
    font-size: 14px;
    font-weight: bold;
    color: #808080ff;
    margin-top: -1%;
}

.userProfileFundo {
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileIcon img {
    width: 79.45%;
    top: 17.8%;
    left: 9.8%;
    position: absolute
}

.trimProfileBanner {
    position: absolute;
    bottom: 2%;
}

.trimProfileBanner label {
    color: #80808082;
}



.perfilNavbarSettings {
    background-color: black;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    right: 3rem;
    transition: 0.2s
}

.perfilNavbarSettings:hover {
    background-color: #808080ff;
    cursor: pointer;
    transition: 0.2s;
    color: black;
}

.perfilModal {
    background: #0000008c;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 35;
}

.divModalSubBody {
    position: relative;
    width: 95%;
    height: 95%;
    margin-top: -1.6%;
    background-color: #151515;
}

.divModalWindow {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.divModalWindow label {
    color: black;
    font-weight: bold;
    padding: 0.3%;
}

.divModalWindow button {
    color: white;
    font-weight: bold;
    padding: 0.3%;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
}


.divTopTeam {
    width: 21%;
    background-color: #151515;
    position: relative;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    bottom: 0%;
    left: 30%;
}

.divTopConquista {
    width: 21%;
    background-color: #151515;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    bottom: 0%;
    left: 55%;
}

.divQuantiaAmigos {
    width: 21%;
    border-radius: 30px 30px 0px 0px;
    background-color: #151515;
    position: absolute;
    bottom: 0%;
    left: 75%;
}

.divTopSubContainerTeam {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hiddenInfoTop {
    height: 12.4vh;
    width: 100%;
    border: 1px solid #b4905b;
    border-bottom: none;
    border-radius: 30px 30px 0px 0px;
}


.openInfoVideo {
    width: 100%;
    height: 145px;
    border: 1px solid #b4905b;
    border-bottom: none;
    z-index: 11;
}

.openInfoVideo video {
    width: 100%;
    z-index: 10
}

.hiddenInfoTop video {
    width: 8rem;
    border-radius: 30px 0px 0px 0px;
    z-index: 10;
}

.hiddenInfoTop h3 {
    font-size: 16px;
    position: absolute;
    left: 39%;
    top: -2%;
    color: white;
    z-index: 10;
}


.hiddenInfoTop label {
    font-size: 13px;
    position: absolute;
    left: 39%;
    top: 14%;
    color: white;
    z-index: 10;
}

.divTopSubContainerConq {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hiddenInfoConq {
    height: 12.4vh;
    width: 100%;
    border: 1px solid #b4905b;
    border-bottom: none;
    border-radius: 30px 30px 0px 0px;
}

.hiddenInfoConq video {
    width: 8rem;
    border-radius: 30px 0px 0px 0px;
    z-index: 10;
}

.hiddenInfoConq h3 {
    font-size: 16px;
    position: absolute;
    left: 39%;
    top: -2%;
    color: white;
    z-index: 10;
}


.hiddenInfoConq label {
    font-size: 13px;
    position: absolute;
    left: 39%;
    top: 17%;
    color: white;
    z-index: 10;
}

.userProfileIModal {
    position: absolute;
    top: 0%;
    width: 100% !important;
    height: 86.5%;
    border-radius: 0;
    z-index: 16;
    transition: 0.2s;
    background-color: #0000009c;
    opacity: 0;
}

.userProfileIModalBackground {
    position: absolute;
    top: 0%;
    width: 75% !important;
    height: 100%;
    border-radius: 0;
    z-index: 2;
    right: 0%;
    transition: 0.2s;
    background-color: #000000c0;
    opacity: 0;
}

.userProfileIModalBackground:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.userBackgroundIPI {
    transition: 0.2s;
    position: absolute;
    top: 38%;
    right: 48%;
    z-index: 40;
    width: 40px !important;
    height: 40px !important;
    color: white !important;
}

.userBackgroundh2 {
    transition: 0.2s;
    position: absolute;
    top: 46%;
    font-size: 30px;
    text-align: center;
    z-index: 40;
    width: 100% !important;
    height: 40px !important;
    color: white !important;
}


input[type='file'] {
    display: none
}

.userProfileIModal2 {
    position: absolute;
    top: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px !important;
    height: 135px;
    border-radius: 350px;
    z-index: 16;
    transition: 0.2s;
    background-color: #0000009c;
    opacity: 0;
}

.userProfileIModal3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100%;
    border-radius: 0px;
    z-index: 16;
    transition: 0.2s;
    background-color: #0000009c;
    opacity: 0;
    right: 0%;
}

.userProfileIModal3:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.userProfileIModal2:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.userProfileIModal:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.userProfileIPI {
    transition: 0.2s;
    position: absolute;
    top: 35%;
    z-index: 40;
    width: 40px !important;
    height: 40px !important;
    color: white !important;
}

.userProfileh2 {
    transition: 0.2s;
    position: absolute;
    top: 45%;
    font-size: 30px;
    text-align: center;
    z-index: 40;
    width: 100% !important;
    height: 40px !important;
    color: white !important;
}


.userProfileIPI:hover {
    transition: 0.2s;
}

.perfilModalMolduras {
    background: #0000008c;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 35;
}

.divMainBodyModify {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.divModalFundoModify {
    height: 100%;
    width: 100%;
    position: relative;
}

.divModalFundoModify video {
    z-index: 0;
    height: 100%;
    width: 75%;
    right: 0%;
    object-fit: cover;
    position: absolute;
}

.divMoldurasSelect {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    padding-bottom: 2%;
    border-radius: 10px;
}

.divMoldurasSelect img {
    width: 170px;
    position: relative;
    z-index: 31;
}

.divMoldurasSelect label {
    position: relative;
    margin-top: 2.5%;
    margin-left: 0%;
    color: white;
    text-transform: capitalize
}

.divMoldurasSelect video {
    width: 11%;
    position: absolute;
    margin-top: 5%;
    margin-left: 0%;
    z-index: 30;
    border-radius: 150px;
}

.divMainMolduras::-webkit-scrollbar-thumb {
    background-color: #ff6a00
}

.divMainMolduras {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    height: 96%;
    gap: 20px;
    position: absolute;
    left: 25%;
    top: 0%;
    overflow-y: scroll;
}

.ChangeSelect {
    padding: 0% !important;
    margin: 0% !important;
    position: absolute;
    top: 60%;
    z-index: 30;
    color: #808080ff;
    background-color: #151515 !important;
    outline: none;
    border: none;
}

.ChangeSelect .selectPerfil {
    padding: 0% !important;
    margin: 0% !important;
    font-size: 14px !important;
    background-color: #151515 !important;
    color: #808080ff;
    outline: none;
    border: none;
    width: 100%;
}

.trimProfileEditInvalid {
    font-size: 14px !important;
    color: rgb(255, 114, 114) !important;
    margin-top: -3% !important;
}

.buttonDenyChanges {
    cursor: pointer;
    padding: 3%;
    margin-top: 2%;
    font-size: 16px;
    background-color: #7a1919;
    border: solid transparent;
    border-radius: 5px;
    color: white;
}

.buttonDenyChangesFundo {
    cursor: pointer;
    padding: 3%;
    margin-top: 6%;
    font-size: 16px;
    background-color: #7a1919;
    border: solid transparent;
    border-radius: 5px;
    color: white;
}

.buttonConfirmChanges {
    margin-top: -10.5%;
    cursor: pointer;
    padding: 3%;
    font-size: 16px;
    background-color: #155521;
    border: solid transparent;
    border-radius: 5px;
    color: white;
}

.buttonConfirmChangesFundo {
    margin-top: 70.5%;
    cursor: pointer;
    padding: 3%;
    font-size: 16px;
    background-color: #155521;
    border: solid transparent;
    border-radius: 5px;
    color: white;
}

.userProfileInputEnviar {
    opacity: 1;
    background: red;
    width: 120px !important;
    height: 120px !important;
    padding-top: 5%;
    padding-bottom: 5%;
    top: -25%;
    z-index: 20;
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

.divMoldurasSelectIcon {
    position: absolute;
    z-index: 0;
}

.molduraChangeIcon {
    position: absolute;
    z-index: 10;
}

.propsStatus {
    color: white;
    font-size: 16px;
    height: 0px;
    margin-top: -84px;
    text-align: center;
}

.trimProfileEditFundo {
    position: relative;
    z-index: 30;
}

.perfilModalFundo {
    width: 100%;
    height: 100%;
    margin-top: 2px;
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 35;
}

.imgPosterPerfilEquipes {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    object-fit: cover;
    background-color: #000000a4;
    box-shadow: inset 200px 0px 150px 100px #0000008f;
}

.divMainBodyPerfil {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
}

/* EQUIPES */

.divMapEquipes::-webkit-scrollbar-thumb {
    background-color: #ff6a00;
}

.divMapEquipes {
    width: 74.9%;
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 9;
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
    overflow-y: scroll;
}

.divMapEquipesMainBody {
    position: relative;
    z-index: 10;
    background-color: rgb(34, 34, 34);
    width: 90%;
    height: 80px;
    border-radius: 0px 40px 40px 0px;
    border: 1px solid #857762;
}

.divMapEquipesMainContent {
    width: 100%;
}

.divMapEquipesImgLogo {
    width: 80px;
    height: 80px;
    background-color: #3b3b3b;
    border-right: 1px solid #857762;
}

.divMapEquipesH3Name {
    position: absolute;
    color: white;
    font-size: 21px;
    top: -15.5%;
    left: 11%;
}

.divMapEquipesLabel3Tag {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 45%;
    left: 11%;
}

.divMapEquipesDivMembros {
    display: flex;
    gap: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -1px;
    right: 40px;
    background-color: #151515;
    height: 100%;
    width: 25vw;
    box-shadow: rgb(34, 34, 34) inset -20px 0px 4px -1px, inset rgb(34, 34, 34) 20px 0px 4px -1px;
    border-top: 1px solid #857762;
    border-bottom: 1px solid #857762;

}

.divMapEquipesMembrosIcon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 35%;
}

.divMapEquipesMembrosMoldura {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: -4.55rem;
    top: 10%;
}

.divMapEquipesLabel3Membros {
    position: absolute;
    top: 2%;
    color: white;
    right: 17rem;
    z-index: 1;
}

.divMapEquipesDivGame {
    position: absolute;
    right: 0;
    top: 0;


}

.divMapEquipesDivGameLogo {
    width: 80px;
    height: 80px;
    background-color: #3b3b3b;
    border-radius: 0px 40px 40px 0px;
}

.divMapEquipesDivUserIndicator {
    position: absolute !important;
    color: white !important;
    font-size: 20px !important;
    top: 1%;
    margin-left: 0.8rem;
    transform: rotate(180deg) !important;
}

.divMapEquipesHover {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    background-color: #080808e0;
    cursor: pointer;
}

.divMapEquipesHoverArrow {
    color: white !important;
    font-size: 34px !important;
    font-weight: bolder !important;
}