.divMainContainerNoticias{
    width: 100%;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

/* Primeira noticia */
.divNoticiaMainContainerNoticias{
    width: 30%;
    height: 150px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background: rgb(78, 78, 78);
}
.divInfoSubContainerNoticias{
    padding-left: 20px;
    width: 100%;
    flex-direction: column;
}
.h1TittleNoticias{
    color: #fc6b03;
    height: 20px;
    padding-top: 40px;
}

/* Responsividade */

@media screen and (max-width: 768px) {
    .divMainContainerNoticias{
        flex-direction: column;
        justify-content: flex-start;
    }
    .divNoticiaMainContainerNoticias{
        width: 70%;
        margin-top: 20px;
    }
    
}