.divMainAdminContainer{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #212121;
}

.divAdminContainer {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
}

.divAdminContentContainerD{
    margin-top: 3rem;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center   ;
    align-items: center;
}

.divAdminContentContainerD h1{
    color:#fc6b03;
    font-size: 50px;
    margin-bottom: 13% !important;
    text-align: center;
    margin: 0;
    
}
.divAdminContentContainerD p{
    color: #fff;
    font-size: 3.5vh;
    padding-inline: 10%;
    margin-top: 0;
    text-align: center;
}

.divCadastrarRightSubContaner h1{
    color:#fc6b03;
    font-size: 7vh;
    position: relative;
}

.p{
    color:#fff;
    font-size: 3vh;
    padding-inline: 1rem;
    margin-top: -10px;
    text-align: center;
}

.divAdminContentContainerD input{
    width: 15rem;
    height: 2.5rem;
    margin: 10px;
    padding-left: 20px;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    font-size: 16px;
}

.divAdminContentContainerD button{
    width: 15rem;
    height: 2.5rem;
    margin: 10px;
    background-color: #272727;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    z-index: 99;
}


.divAdminContentContainerD button:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}

.divAdminContentContainerD a {
    margin: -10px;
    color:#fff;
    font-size: 3vh;
}

.imgUploadedLogoAdmin{
    width: 70px;
    height: 70px;

}

.imgUploadedFundoAdmin{
    width: 120px;
    height: 210PX;
}



.AdicionarAdminGame{
    display: flex;
    flex-wrap: wrap;
    background-color: #424242;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fc6b03;
}

.AdicionarAdminGame div{
    padding: 1%;
    width: 40%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AdicionarAdminGame2{
    width: 50%;
}

.fullDivAdmin{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.AdicionarAdminGame .d{
    background-color: #272727;
    width: 15rem;
    padding: 2%;
    height: 50%;
    display: flex;
    margin-block: .5rem;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: 1px solid #fc6b03;
}

.AdicionarAdminGame2 h4{
    width: 12rem;
    text-align: center;
}

.AdicionarAdminGame2 .f{
    background-color: #272727;
    padding: 1%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: 1px solid #fc6b03;
}

.AdicionarAdminGame h1{
    color:#fc6b03;
    font-size: 7vh;
    margin-bottom: 13% !important;
    text-align: center;
    margin: 0;
    
}
.AdicionarAdminGame p{
    color: #fff;
    font-size: 3.5vh;
    padding-inline: 10%;
    margin-top: 0;
    text-align: center;
}
.AdicionarAdminGame input{
    width: 15rem;
    height: 2.5rem;
    margin: 10px;
    padding-left: 20px;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    font-size: 16px;
}

.AdicionarAdminGame button,
.adminBaixarRelatorio button {
    width: 75%;
    height: 2.5rem;
    margin: 10px;
    background-color: #272727;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    z-index: 99;
}

.adminBaixarRelatorio {
    text-align: center;
}


.AdicionarAdminGame button:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}

.divAdminSubContainerD{
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .divAdminContentContainerD h1 {
        font-size: 30px;
    }
    .divAdminContentContainerD {
        margin-top: 5rem;
    }
}