.FaseContainer{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
     margin-bottom: 1.2%;
}

.faseinfo{
     margin: 8px;
     display: flex;
     justify-content: start;
     flex-direction: row;
     text-align: center;
     width: 15.6rem;
     height: 170px;
     border: 1px solid #fc6b03;
}
.faseinfo table{
     width: 100%;
}

.divimgfase{
     display: flex;
     justify-content: start;
     flex-direction: row;
     border: solid 1px blue;
}
.Win_Loser{
    width: 20% !important;
}
.logo{
     width: 1% !important;
     height: 3.1%;
}
.times{
     width: 50%;
     height: 3%;
}


.boxfase{
     text-align: center;
     width: 5%;
     background-color: #fc6b03;
     
}

@media screen and (max-width: 445px) {
     .FaseContainer {
          width: 100%;
     }
}