.DivCriarTorneio{
    width: 100%;
    height: 100%;
    background-color: #212121;
}

.divMainCriarTorneio{
    width: 95%;
    height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.divSubCriarTorneio{
    width: 80%;
    height: 112vh;
    background-color: #121212;
    border-radius: 20px;
    border: 1px solid #fc6b03;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divDivisorCriarTorneio{
    width: 80%;
    /* height: 35vh; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.addButtonTorneio{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    top: .75rem;
    background-color: #414141;
    border-radius: 5px;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    transition: ease-in-out 75ms;
}
.addButtonTorneio:hover {
    cursor: pointer;
    background-color: #313131;
}
.addButtonTorneio:active {
    font-size: .9rem;
    background-color: #212121;  
}
.buttonConfirmarCriarTorneio {
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 3rem;
    width: 11rem;
    border-radius: 50px;
    margin-top: 2rem;
    padding: 1rem;

    border: 2px solid #fc6b03;
    transition: ease-in-out 75ms;
}
.buttonConfirmarCriarTorneio:hover {
    cursor: pointer;
    background-color: #313131;
}

.addthumb, .addlogo, .addfundo{
    width: 40%;
    height: 26vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding-top: 2%;
}



.imgthumb, .imgfundo{
    width: 300px;
    height: 8rem;
    margin: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.imgthumb img, .imgfundo img{
    width: 100%;
    height: 8rem;
}


.imglogo{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 50%;
    border: #fc6b03 solid 1px;
    background-color: #212121;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.imglogo img{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 50%;
    border: #fc6b03 solid 1px;
    background-color: #212121;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}


.divInfoCriarTorneio{
    width: 78%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #292929;
    border-radius: 10px;
    margin: 1%;
    align-items: center;
    color: #fff;
    font-weight: bold;
    
    padding: 2%;
}

.divInfoCriarTorneio input{
    width: 80%;
    height: 18%;
    border: #fc6b03 1px solid;
    background-color: #212121;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}  
.divInfoCriarTorneio textarea{
    resize: none;
    width: 80%;
    height: 40%;
    border: #fc6b03 1px solid;
    background-color: #212121;
    color: #fff;
    border-radius: 5px;
    margin-top: 2%;
}


.divMoreinfoCriarTorneios{
    width: 80%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    border: #fc6b03 solid 1px;
    margin-top: 2%;
    border-radius: 20px;

}
.totalJogadores{
    width: 30%;
    height: 50%;
    background-color: #212121;
    border: solid 1px #fc6b03;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.select{
    width: 30%;
}

.torneioInput {
    color: #fff;
    width: 70%;
    height: 3rem;
    background-color: #212121;
    border: solid 1px #fc6b03;
    border-radius: 5px;
    font-size: 19px;
    padding-left: .5rem;
}
.torneioInput2 {
    color: #fff;
    width: 30%;
    height: 3rem;
    background-color: #212121;
    border: solid 1px #fc6b03;
    border-radius: 5px;
    font-size: 19px;
    padding-left: .5rem;
}
.textAreaTorneio {
    margin-top: 1rem;
    color: #fff;
    width: 70%;
    height: 8rem;
    background-color: #212121;
    border: solid 1px #fc6b03;
    border-radius: 5px;
    font-size: 19px;
    padding-left: .5rem;
    resize: none;
}


@media screen and (max-width: 768px){
    .divSubCriarTorneio{
        height: 100%;
    }
    .divDivisorCriarTorneio{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .addthumb, .addlogo, .addfundo{
        width: 100%;
    }
    .divInfoCriarTorneio{
        width: 90%;
        height: 25rem;
        margin-bottom: 2rem;
    }
    .divInfoCriarTorneio input{
        width: 80%;
        height: 12%;
    }  
    .divInfoCriarTorneio textarea{
        resize: none;
        height: 60%;
    }
    .torneioInput2 {
        width: 80%;
    }

    .divMoreinfoCriarTorneios{
        flex-direction: column;
        height: 25vh;
    }
    .totalJogadores{
        width: 78%;
        height: 15%;
    }
    
    .select{
        width: 80%;
    }
}