:root{
    --customPageColor: '#ffa86b'
}

.containerNewHome{
    background-color: #121212;
    margin: 0%;
    height: 100vh;
    color: white;
    overflow: hidden;
    background: url('./background.png');
    background-size: cover;
}

.containerPageOneHomeContent{
    width: 85%;
    height: 100vh;

}


.containerPageTwoHomeContent{
    height: 100vh;
    width: 85%;
}

.containerPageThreeHomeContent{
    height: 100vh;
}

.containerPageOneHome{
    margin: 0;
    width: 100%;
}

.containerPagesSelector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 2%;
    top: 0%;
    margin-top: 5%;
    width: 10%;
    height: 100%;
}

.pageSelector{
    height: 120px;
    width: 6%;
    border-radius: 20px;
    background-color: #303030;
    transition: 0.5s;

}

.pageSelector:hover{
    width: 6%;
    border-radius: 20px;
    background-color: #868686;
    cursor: pointer;

}

.miniDivider{
    height: 7%;
}

.labelPageOneHome{
    z-index: 2;
    margin-left: 5%;
    width: 70%;
    height: 100px;
    background-size: cover;
    background-image: url('./TITLEPAGEONE.png');
    font-weight: bolder;
    text-shadow: 3px 3px 3px #000000;
}

.tourneamentHighlightContainer{
    margin-top: -1%;
    display: flex;
    width: 100%;
    gap: 2%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.tourneamentHighlighted{
    width: 36%;
    height: 12vw;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: 0% -40px;
    box-shadow: 10px 10px 10px 0px #030303;
    transition: 0.5s;
}

.tourneamentHighlighted:hover{
    transition: 0.5s;
    width: 37%;
    height: 13vw;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 10px 10px 10px 0px #030303;
    cursor: pointer;
}

.tourneamentHighlitedDecoration{
    /* display: none; */
    width: 126%;
    height: 91.5%;
    margin-bottom: 4%;
    margin-left: 8.5%;
    background-image: url(http://localhost:3000/static/media/decorationVertical.2333155….png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
    transition: 0.3s;
}

.bigTourneamentHiglightThree{
    width: 42%;
    height: 15vw;
    transition: 0.5s;
}

.bigTourneamentHiglightThree:hover{
    transition: 0.5s;
    width: 43%;
    height: 16vw;
}

.tourneamentHighlitedImgOne{
    width: 100%;
    height: 100%;
    background: url('./F1_2022.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
}

.tourneamentHighlitedImgTwo{
    width: 100%;
    height: 100%;
    background: url('./F1_2022.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
}

.tourneamentHighlitedImgThree{
    width: 100%;
    height: 100%;
    background: url('./F1_2022.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;

}

.tourneamentHighlighted img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #fc6b03;
    margin: 5px;
    margin-right: 20px;
}

.tourneamentHighlighted label{
    display: flex;
    align-items: center;
    background-color: #303030;
    z-index: 20;
}

.labelAskingPageOneHome{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
    z-index: 0;
}

.labelAskingPageOneHome a{
    color: #fc6b03;
}

.currentPageHome{
    transition: 0.5s;
    background-color: var(--customPageColor) !important ;
}

.containerDivider{
    width: 100%;
    height: 50vh;
}

.labelPageTwoHome{
    z-index: 2;
    margin-left: 5%;
    width: 70%;
    height: 100px;
    background-size: cover;
    /* background-image: url('./TITLEPAGETWO.png'); */
    font-weight: bolder;
    text-shadow: 3px 3px 3px #000000;
}

.labelTorneios {
    z-index: 2;
    margin-left: 5%;
    width: 100%;
    height: 100px;
    /* background-image: url('./TITLEPAGETWO.png'); */
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-shadow: 3px 3px 3px #000000; */
}

.gamesHighlightContainer{
    margin-top: 3%;
    margin-left: 15%;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 50%);
    row-gap: 3%;
    column-gap: 3%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gameHighlighted:nth-child(4) {
    grid-area: 2 / 2;
}

.gameHighlighted{
    width: 8rem;
    height: 11rem;
    position: relative;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px 0px #030303;
    transition: 0.3s;
}

.gameHighlighted:hover{
    transition: 0.3s;
    width: 11vw;
    height: 16vw;
    position: relative;
    margin-top: 2%;
    box-shadow: 10px 10px 10px 0px #030303;
    cursor: pointer;
}

.gameHighlitedDecoration{
    display: none;
    width: 104%;
    height: 102.5%;
    margin-bottom: -2%;
    margin-left: -1.5%;
    background-image: url('./decorationVertical.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
    transition: 0.3s;
}

.gameHighlitedDecoration:hover{
    transition: 0.3s;
    width: 106%;
    height: 104.5%;
    margin-bottom: -4%;
    margin-left: -1%;
    background-image: url('./decorationVertical.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
}


.customizationSliderHighlightContainer{
    margin-top: 4%;
    margin-left: 8%;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divContainerSliderNewHome{
    width: 100%;
    height: 50vh;
    display: flex;

}

.customizationSliderImageSlide{

    width: 60%;
    height: 100%;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-size: cover;
    box-shadow: 10px 10px 10px 0px #030303;
    border: 1px solid #fc6b03;
    border-radius: 2px;
}

.customizationSliderTextSlide{
    background-image: url('./pagethreebackground.png');
    width: 40%;
    height: 100%;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 10px 10px 10px 0px #030303;
    background-size: 100% 100%;
    border: 1px solid #fc6b03;
    border-left: none;
    border-radius: 2px;
    padding-left: 2%;
    padding-right: 2%;
}

sliderRightTitle {
    text-align: center;
}

.customizationSliderTextSlide h5{
    font-size: 16px;
    font-weight: 0;
}

.labelPageThreeHome{
    z-index: 2;
    margin-left: 5%;
    width: 70%;
    height: 100px;
    background-size: cover;
    background-image: url('./TITLEPAGETHREE.png');
    font-weight: bolder;
    text-shadow: 3px 3px 3px #000000;
}

.sliderDots{
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.sliderDots div{
    border-radius: 40px;
    width: 16%;
    height: 10px;
    background-color: #515151;;
}

.sliderDots div:hover{
    border-radius: 40px;
    width: 16%;
    height: 10px;
    background-color: #868686;;
}

.sliderArrows{
    position: absolute;
    top: 40%;
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.divContainerSliderPages{
    overflow: hidden;
    width: 100%;
    display: flex;
}

.divSliderPage{
    transition: 0.5s;
    height: 100%;
    background-position: top;
    background-size: cover;
}

.slideOne{
    background-color: deepskyblue;
    background-image: url('./firstSlide.png');
    width: 0%;
    image-rendering: crisp-edges;
}

.slideTwo{
    background-color: darkkhaki;

    width: 100%;
}

.slideThree{
    width: 0%;
    background-color: sienna;

}

.dotsFromSlide:hover{
    cursor: pointer; 
}

@media screen and (max-width: 768px) {  
    .tourneamentHighlighted label{
        display: flex;
        align-items: center;
        background-color: #303030;
        z-index: 20;
        width: 60%;
        height: 60% ;
    }
    .tourneamentHighlightContainer{
        margin-top: -1%;
        display: flex;
        width: 100%;
        height: 45%;
        gap: 4%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tourneamentHighlitedDecoration{
        width: 100.5%;
        height: 100%;
        margin-top: -1%;
        margin-left: 0.2%;
        background-image: url('./decoration.png');
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 30;
    }
    

    .tourneamentHighlighted img{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #fc6b03;
        margin: 5px;
        margin-right: 20px;
    }
    .tourneamentHighlighted{
        width: 80%;
        height: 35vw;
        position: relative;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: 0% -40px;
        box-shadow: 10px 10px 10px 0px #030303;
        transition: 0.5s;
    }
    .tourneamentHighlighted:hover{
        width: 80%;
        height: 35vw;
    }
    .labelAskingPageOneHome{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 4%;
        z-index: 0;
        margin-left: 12%;
        margin-right: 12%;
    }
    
    .containerPagesSelector{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        right: 0%;
        top: 0%;
        width: 20%;
        height: 100%;
    }
    .pageSelector{
        height: 60px;
        width: 12%;
        border-radius: 20px;
        background-color: #303030;
        transition: 0.5s;
    }
    
    .pageSelector:hover{
        width: 6%;
        border-radius: 20px;
        background-color: #868686;
        cursor: pointer;
    
    }
    
    .divContainerSliderNewHome{
        width: 100%;
        height: 65vh;
        display: flex;
        flex-direction: column;
    }

    .customizationSliderImageSlide{
        width: 100%;
        height: 60%;
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-size: cover;
        box-shadow: 10px 10px 10px 0px #030303;
        border: 1px solid #fc6b03;
        border-radius: 2px;
    }

    .customizationSliderTextSlide{
        background-image: url('./pagethreebackground.png');
        width: 96.5%;
        height: auto;
        position: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 10px 0px #030303;
        background-size: 100% 100%;
        border: 1px solid #fc6b03;
        border-radius: 2px;
    }

    .sliderTextConteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1020px) {
    .gameHighlighted {
        /* height: 8rem;
        width: 6rem; */
        margin: auto;
        margin-block: .5rem;
    }
    
    .gameHighlitedDecoration {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .gameHighlighted {
        height: 8rem;
        width: 6rem;
    }
    
    .miniDivider {
        height: 12%;
    }

    .gamesHighlightContainer {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
}

@media only screen and (max-width: 395px) {
    .divContainerSliderPages {
        display: none;
    }
    .customizationSliderImageSlide {
        border: none;
        height: 0;
        box-shadow: none;
    }
    .logoLabel {
        width: 3rem;
        height: 3rem;
        display: none;
    }
    .labelTorneios {
        text-align: center;
    }
    .sliderRightFirstText {
        margin-block: .5em;
    }
    .sliderRightSecondText {
        margin-block: .5em;
    }
}