.divJogosMainContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #121212;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2%;
}

.titleGames{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #121212;
  margin: 0;
  padding-top: 3%;
  font-size: 25px;
  text-align: center;
}
.titleGames2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #121212;
  margin: 0;
  padding-top: 3%;
  font-size: 20px;
  text-align: center;
}

.divMainJogos{
  background-color: #121212;
}

.divJogosSubContainer{
  width: 40%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divJogosContainer{
  position: relative;
  color: white;
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: #252525;
  border: 1px solid #fc6b03;
  margin: 20px;
  box-shadow: 10px 10px 10px 0px #030303;
}

.divJogosContainer h5{
  font-size: 16px;
}

.addButton{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
  background-image: url('./components/Jogo/assets/button-add.png');
  background-size: cover;
  transition: 0.5s;
}

.addButton:hover{
  background-image: url('./components/Jogo/assets/button-add-over.png');
  transition: 0.5s;
  cursor: pointer;
}

.divJogosImg{
  width: 100px;
  height: 140px;
  background-size: cover;
  margin: 10px;
  border-radius: 10px ;
}

@media only screen and (max-width: 1230px) {
  .titleGames {
    padding-top: 6%;
  }
}

@media only screen and (max-width: 768px) {
  .divJogosContainer {
    margin-left: 5%;
  }
  .divJogosSubContainer{
    width: 90%;
  }
  .divJogosImg{
    width: 6rem;
  }
  .nomeDescricao {
    margin-inline: .5rem;
  }
  /* .titleGames{
    font-size: 1.5rem;
  } */
  .addButton{
    margin-top: 10px;
  }

}

@media only screen and (max-width: 475px) {
  .titleGames {
    padding-top: 11%;
  }
  .divJogosContainer {
    flex-direction: column;
  }
  .nomeDescricao {
    text-align: center;
  }
  .addButton {
    position: absolute;
    top: 0;
  }
}