.divMainLanding{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.divMainLandingPageNavbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
}

.buttonNavbar{
    width: 15%;
    height: 50%;
    margin: 20px;
    background-color: #272727;
    border-radius: 20px;
    border: 2px solid #fc6b03;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    z-index: 99;
    
	animation: slideInLeft;
    animation-duration: 1s;

}

.buttonNavbar:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}

.divDivisaoTelasLandingPage{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.divImgInfoLandingPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    background-image: url("./assets/kkk.png");
    z-index: 98;
    position: absolute;
    background-size: cover;
}
.divImgInfoLandingPage h1{
    font-style: SegoeUI-Bold;
    color: #fc6b03;
    width: 35%;
    margin: 0;
    margin-top: 2rem;
    padding-left: 5%;
    margin-top: -6%;
    font-size: 7vh;
    animation: slideInLeft;
    animation-duration: 1s;
    
}

.divImgInfoLandingPage p{
    color: #fff;
    font-size: 4vh;
    margin: 0;
    width: 40%;
    padding-left: 5%;

    animation: slideInLeft;
    animation-duration: 1s;
}
.divImgInfoLandingPage button{
    font-size: 20px;
    height: 3rem;
    width: 14.5rem;
    border: 2px solid #fc6b03;
    border-radius: 30px;
    margin-left: 5%;
    color: #fff;
    background-color: #212121;
    transition: 0.2s;

    animation: slideInLeft;
    animation-duration: 1s;
}

.divImgInfoLandingPage button:hover{
    transition: 0.2s;
    border: 2px solid rgb(224, 219, 219);
    border-radius: 20px;
    margin-left: 5%;
    color: #fff;
    cursor: pointer;
}
.divVideoLandingPage video{
    background-size: cover;
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin-left: 22%;
}
.divVideoLandingPage{
    width: 100vw;
    height: 100vh;
    z-index: 90;
}

.logoL{
    width: 15vw;
    height: 15vw;
    z-index: 99;
    padding-left: 4%;
    margin-top: -4%;
    /* position: absolute; */
    /* top: 0; */
    animation: slideInLeft;
    animation-duration: 1s;
}

.divIconsRedesLandingPage{
    width: 14.5rem;
    display: flex;
    padding-left: 5%;
    margin: 0;
    gap: 1.8rem;
    animation: slideInLeft;
    animation-duration: 1s;
}


.discord{
    width: 56.16px;
    height: 56.16px;
    animation: slideInLeft;
    animation-duration: 1s;
}

.imgMundoSenai{
    width: 460px;
    height: 168px;
    position: absolute;
    right: 2%;
    bottom: 3%;
    z-index: 150;
}

@media screen and (max-width: 1010px) {
    .divImgInfoLandingPage {
        width: 100%;
    }

    .divImgInfoLandingPage h1 {
        width: 45%;
        padding-left: 7%;
    }

    .divImgInfoLandingPage p {
        width: 50%;
        padding-left: 7%;
    }

    .divImgInfoLandingPage button {
        margin-left: 7%;
    }

    .divIconsRedesLandingPage {
        padding-left: 7%;
    }

    .logoL {
        padding-left: 7%;
    }

    .divVideoLandingPage video {
        display: none;
    }
    
    .divVideoLandingPage {
        background-image: url("./assets/img_background.png");
        background-size: cover;
    }
}

@media screen and (max-width: 754px){
    .imgMundoSenai{
        display: none;
    }
    .divMainLandingPageNavbar{
        justify-content: center;
    }

    .buttonNavbar{
        min-width: 10rem;
        height: 70%;
        background: transparent;
        border-radius: 30px;
        border: 2px solid #fc6b03;
        color: #fc6b03;
        font-size: 22px;
        transition: 0.5s;
        z-index: 99;
    }

    .divDivisaoTelasLandingPage{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .divImgInfoLandingPage {
        align-items: center;
        width: 100%;
    }

    .logoL {
        height: 10rem;
        width: 10rem;
        top: 29%;
    }

    .divImgInfoLandingPage h1 {
        margin-top: 4rem;
        font-size: 45px;
        padding-left: 0;
        text-align: center;
        width: 70%;
    }

    .divImgInfoLandingPage p{
        color: #fff;
        
        width: 90%;
        margin-top: 8rem;
        font-size: 25px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .divIconsRedesLandingPage{
        justify-content: center;
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    .divImgInfoLandingPage h1 {
        width: 100%;
    }
    .divImgInfoLandingPage p {
        width: 100%;
    }

    .buttonNavbar {
        margin: 0;
    }
    #loginButton {
        margin-block: 1rem;
    }
    .divMainLandingPageNavbar {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
}