.divMainLoginLinda{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.divLoginLeftContainer .IMG{
    width: 146.16px;
    height: 146.16px;
    margin-left: 2%;
    z-index: 99;
}

.divLoginMainContainer{
    width: 95vw;
    height: 90vh;
    z-index: 3;
    background-color: #121212;
    position: absolute;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 20px;
    border: #fc6b03 solid 1px;
    -webkit-box-shadow: 0px 0px 13px 10px #000000; 
    box-shadow: 0px 0px 13px 10px #000000;
}

.divLoginLeftContainer {
    width: 40%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divLoginLeftContainer img{
    width: 56.16px;
    height: 56.16px;
    z-index: 99;
}

.divLoginLeftContainer h1{
    color:#fc6b03;
    font-size: 7vh;
    padding-inline: 6%;

    margin: 0;
    
}
.divLoginLeftContainer p{
    color: #fff;
    font-size: 3.5vh;
    padding-inline: 6%;
    margin-top: 0;

}

.divLoginRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: url('./assets/img_background.png');
    background-size: cover;
}

.divLoginRightSubContaner{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #121212;
    justify-content: center;
    height: 80%;
    border-radius: 20px;
    align-items: center;
    border: solid 1px #fc6b03;
}

.divLoginRightSubContaner h1{
    color:#fc6b03;
    font-size: 7vh;
    position: relative;
}
.p{
    color:#fff;
    font-size: 3vh;
    padding-inline: 1rem;
    /* margin-top: -10px; */
    text-align: center;
}

.divLoginRightSubContaner input{
    width: 70%;
    height: 2.5rem;
    margin: 10px;
    padding-left: 20px;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    font-size: 16px;
}

.divLoginRightSubContaner button{
    width: 75%;
    height: 3rem;
    margin: 10px;
    background-color: #272727;
    border-radius: 30px;
    border: 2px solid #fc6b03;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    z-index: 20;
}


.divLoginRightSubContaner button:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}

.divLoginRightSubContaner a {
    margin: -10px;
    color:#fff;
    text-decoration: dashed;
    font-size: 3vh;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}




@media only screen and (max-width: 1024px) {
    .divLoginLeftContainer{
        display: none;
    }
    .divLoginRightContainer {
        width: 100%;
    }
    .divLoginRightSubContaner{
        width: 90%;
        border-radius: 20px;

    }
    .divMainLoginLinda{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fc6b03;
    }
    .divLoginMainContainer{
        border-radius: 0px;
        height: 100vh;
        width: 100%;
    }
}